@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

.container-body {
    display: flex;
    flex-direction: column;
}

.container-header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: antiquewhite;
    padding: 10px;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: none;
    display: flex;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
}

.container-hero {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: antiquewhite;
    padding: 40px;
    justify-content: space-around;
}

.hero-text {
    width: 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.hero-subtext {
    font-size: 18px;
}

.hero-img img {
    height: 300px;
    width: auto;
    border-radius: 20px;
}

.container-info {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.info-text{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
}

.card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-quote {
    display: flex;
    flex-direction: column;
    padding: 40px 120px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.container-action {
    display: flex;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: antiquewhite;
}

